<%= link_to 'https://github.com/RyanJWolfe/blog', target: '_blank', class: "text-muted hover:text-based hover-underline text-xs md:text-sm" do %>
  <span>Designed and built by Ryan Wolfe &raquo;</span>
<% end %>
<div class="text-muted">
  <span class="text-xs md:text-sm">&copy; 2022</span>
  <span class="text-xs md:text-sm">&middot;</span>
  <span class="text-xs md:text-sm">All rights reserved</span>
</div>