<div class="w-full h-screen -mt-24 sm:-mt-28 flex flex-col justify-center">
  <h1 class="font-bold text-5xl font-display text-center">Lorem Ipsum</h1>
  <h2 class="font-bold text-3xl font-display text-center text-muted py-2">A blog by John Doe.</h2>
  <p class="py-3 max-w-md mx-auto text-muted text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>

</div>

<div id="posts" class="min-w-full">
  <%= render @posts %>
</div>
