<div class="w-full h-screen -mt-24 sm:-mt-28 flex flex-col sm:space-y-2 justify-center items-center">
  <%= render 'pages/landing' %>
</div>

<div class="flex flex-col justify-center w-full space-y-8 max-w-4xl mx-auto">
  <h2 class="inline-block navbar-gradient font-display text-3xl sm:text-4xl font-bold text-left px-8
            py-3 rounded-lg drop-shadow-lg">Featured</h2>
  <div id="posts" class="min-w-full grid grid-cols-1 gap-y-4">
    <%= render @featured_posts %>
  </div>
</div>

<div class="my-16 flex flex-col justify-center w-full space-y-8 max-w-4xl mx-auto">
  <h2 class="inline-block navbar-gradient font-display text-3xl sm:text-4xl font-bold text-left px-8
            py-3 rounded-lg drop-shadow-lg">Latest</h2>
  <div id="posts" class="min-w-full grid grid-cols-1 gap-y-4">
    <%= render @recent_posts %>
  </div>

  <div class="w-full flex items-start">
    <%= link_to 'All posts', posts_path, class: "w-full text-center btn btn-primary" %>
  </div>
</div>

