<div class="absolute top-0 right-0 h-screen w-screen bg-[url('landing-banner.jpg')] pt-24 sm:pt-28">

  <h1 class="font-bold text-5xl font-display text-center">Lorem Ipsum</h1>
  <p class="py-5 max-w-md mx-auto text-muted text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div id="posts" class="min-w-full">
  <%= render @posts %>
</div>
