@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Playfair Display';
        font-style: normal;
        src: url('PlayfairDisplay-VariableFont_wght.ttf')
    }
    @font-face {
        font-family: 'Playfair Display';
        font-style: italic;
        src: url('PlayfairDisplay-Italic-VariableFont_wght.ttf')
    }
    @font-face {
        font-family: 'Poppins';
        font-weight: 700;
        src: url('Poppins-Bold.ttf')
    }
    @font-face {
        font-family: 'Poppins';
        font-weight: 600;
        src: url('Poppins-SemiBold.ttf')
    }
    @font-face {
        font-family: 'Poppins';
        font-weight: 500;
        src: url('Poppins-Medium.ttf')
    }
    @font-face {
        font-family: 'Poppins';
        font-weight: 400;
        src: url('Poppins-Regular.ttf')
    }
    @font-face {
        font-family: 'Poppins';
        font-weight: 300;
        src: url('Poppins-Light.ttf')
    }
    @font-face {
        font-family: 'Lora';
        font-style: normal;
        src: url('Lora-VariableFont_wght.ttf')
    }
    @font-face {
        font-family: 'Lora';
        font-style: italic;
        src: url('Lora-Italic-VariableFont_wght.ttf')
    }

    :root {
        --color-text-based: 0, 0, 0;       /* black */
        --color-text-primary: 14, 165, 233; /* sky-500 */
        --color-text-muted: 75, 85, 99;         /* gray-600 */
        --color-text-based-hover: 150, 150, 150;
        --color-text-inverted: 225, 225, 225;
        --color-bg: 250, 250, 250;                 /* off-white */
        --color-primary: 14, 165, 233; /* sky-500 */
        --color-primary-hover: 56, 189, 248; /* sky-400 */
        --color-primary-press: 2, 132, 199; /* sky-600 */
        --color-secondary: 36, 37, 38;
        --color-secondary-hover: 58, 59, 60;
        --color-secondary-press: 24, 24, 24;
        --color-bg-surface: 235, 235, 235;
        --color-bg-surface-accent: 205, 205, 205;
        --color-nav: 235, 235, 235;
        /* End theme vars */
    }

    .theme-dark {
        --color-text-based: 255, 255, 255; /* white */
        --color-text-primary: 56, 189, 248; /* sky-400 */
        --color-text-muted: 179, 179, 179;
        --color-text-based-hover: 255, 255, 255;
        --color-text-inverted: 18, 18, 18;
        --color-bg: 18, 18, 18;
        --color-primary: 14, 165, 233; /* sky-500 */
        --color-primary-hover: 56, 189, 248; /* sky-400 */
        --color-primary-press: 2, 132, 199; /* sky-600 */
        --color-secondary: 36, 37, 38;
        --color-secondary-hover: 58, 59, 60;
        --color-secondary-press: 24, 24, 24;
        --color-bg-surface: 36, 37, 38;
        --color-bg-surface-accent: 58, 59, 60;
        --color-nav: 24, 24, 24;
    }
}

@layer components {
    .btn {
        @apply inline-block px-5 py-3 rounded outline-none tracking-wider font-semibold text-sm sm:text-base text-based cursor-pointer
    }
    .btn:focus {
        @apply outline-none
    }
    .btn-primary {
        @apply bg-primary text-white hover:bg-primary-hover active:bg-primary-press border border-primary shadow shadow-primary
    }
    .btn-secondary {
        @apply bg-secondary text-white hover:bg-secondary-hover active:bg-secondary-press border border-secondary-hover shadow shadow-secondary
    }
    .btn-tertiary {
        @apply bg-base text-primary hover:bg-primary/25 hover:text-based active:bg-primary-press/25 border border-primary shadow shadow-primary
    }
    .btn-group {
        @apply flex flex-wrap justify-center
    }
    .is-invalid {
        @apply border-red-500
    }
    .invalid-feedback {
        @apply text-red-500 text-sm
    }
    .contact-form-text-area {
        @apply px-1 py-2 bg-base w-full border-b-2 border-based focus:outline-none focus:border-primary text-area-transition
    }
    .navbar-gradient {
        @apply bg-gradient-to-r from-sky-200 via-indigo-200 to-purple-200 dark:from-sky-900 dark:via-indigo-900 dark:to-purple-900
    }
}

@layer utilities {
    .text-area-transition {
        transition: border-bottom 500ms ease-in-out, padding 500ms ease-out;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: all 10000s ease-in-out 0s;
    }

    .navbar-bg-transition {
        transition: top 300ms ease-in-out;
    }
}
@import 'actiontext.css';